<div class="container mt-4">
  <h2 class="text-center mb-4 text-light">Seu Carrinho</h2>

  <div class="row g-3" *ngIf="produtos.length > 0; else vazio">
    <div class="col-12" *ngFor="let item of produtos, let i = index">
      <div class="card carrinho-card d-flex flex-column flex-md-row align-items-center p-3 gap-3">
        <!-- Alteração aqui para o caminho da imagem -->
        <img [src]="'assets/img/produto' + item.id + '.jpg'" alt="Imagem do produto" class="img-carrinho" />
        
        <div class="flex-fill text-light">
          <h5 class="mb-1">{{ item.nome }}</h5>
          <p class="mb-1 small">{{ item.descricao }}</p>
          <p class="mb-1 fw-bold text-accent">R$ {{ item.preco | number:'1.2-2' }}</p>
        </div>

        <div class="d-flex flex-column align-items-end gap-2">
        <button class="btn btn-outline-light btn-sm" (click)="remover(i)">Remover</button>
        </div>
      </div>
    </div>

    <div class="col-12 text-end mt-4 text-light">
      <h4>Total: <span class="text-accent">R$ {{ calcularTotal() | number:'1.2-2' }}</span></h4>
      <button class="btn btn-success mt-2" (click)="finalizarCompra()">Finalizar Compra</button>
    </div>
  </div>

  <ng-template #vazio>
    <div class="alert alert-secondary text-center text-light bg-dark border-secondary">
      Seu carrinho está vazio.
    </div>
  </ng-template>
</div>
